<% provide :title, t("reservations.new.new_reservation") %>

<h1 class="header-h text-center m-b-50"><%= t "reservations.new.new_reservation" %></h1>
<div class="row">
  <%= render "form", action: "create" %>
</div>
