<% provide :title, @user.name %>
<div class="row">
  <ul>
    <%= render @user, admin: false %>
  </ul>
  <div class="reservations m-t-50">
    <%= render @user.reservations, admin: false %>
  </div>
</div>
