<div class="menu-restaurant">
  <span class="clearfix">
    <%= link_to dish.name, dish, class: "menu-title" %>
    <span style="left: 166px; right: 70px;" class="menu-line"></span>
    <span class="menu-price">$<%= dish.price %></span>
  </span>
  <span class="menu-subtitle">
    <%= dish.description %>
  </span>
</div>
