@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "lightbox";
@import "animate";
@import "slick";
@import "slick-theme";
@import "select2";
@import "select2-bootstrap";
@import "datetime_picker";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  //-moz-box-sizing:    border-box;
  //-webkit-box-sizing: border-box;
  //box-sizing:         border-box;
}
/* forms */

text, textarea, select {
  border: solid 1px #bbb;
  width: 100%;
  @include box_sizing;
}
.btn{
  margin-bottom: 15px;
}
label{
  margin-top: 15px;
}

.checkbox-status input{
  margin: 15px auto;
}
.checkbox-status label {
  display: inline-block;
  margin-top: 0; /* I added this after I posted my reply */
  vertical-align: middle; /* Fixes any weird issues in Firefox and IE */
}

textarea{
  height: 200px !important;
}

.select-image{
  margin-bottom: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

//.checkbox {
//  margin-top: -10px;
//  margin-bottom: 10px;
//  span {
//    margin-left: 20px;
//    font-weight: normal;
//  }
//}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

//---------search----------//

.card{
  width: 100%;
  max-width: 250px;
  height: 350px;
  margin: 10px auto;
  border: solid 1px #958e88;
  padding: 0;
  .card-text{
    margin: 10px;
  }
  .card-title{
    margin: 10px;
  }
  .card-img-top{
    height: 200px;
  }
}

.dish-info{
  .rate{
    li{
      display: inline;
    }
  }
  .dish-price{
    color: red;
    font-size: large;
  }
  .btn-default{
    border: solid 1px #958e88;
  }
  .dish-image{
    border-radius: 5%;
  }
}

//--------------by nvt----------------------------//
//--------------layout---------------------//
//--------------header-------------------//
header{
  .dropdown{
    button span{
      color: white;
      text-transform: uppercase;
    }
    ul{
      background: none;
      float: left;
      padding: 0 10px;
      color: white;
      a{
        color: white;
      }
    }
  }
}
//--------------search index---------------//
//--------------dishes-------------------//
//--menu--//
.menu-restaurant .menu-price {
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 0;
}

.menu-restaurant .menu-line {
  position: absolute;
  bottom: 6px;
  border-bottom: 1px dotted rgba(0,0,0,.3);
  margin-left: .6rem;
  margin-right: .6rem;
}

.menu-restaurant{
  width: 50%;
  float: left;
  padding: 15px;
  position: relative;
}

.menu-restaurant span.clearfix {
  position: relative;
  display: block;
}

.menu-restaurant .menu-title {
  float: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFB03B;
}

.menu-restaurant .menu-subtitle {
  display: block;
  float: left;
  color: #B1B1B1;
  font-size: 1.2rem;
}
.dishes-show{
  margin-bottom: 15px;
}

.header-h {
  color: #FFB03B;
  font-size: 46px;
  font-family: "Satisfy", sans-serif;
  font-weight: 300;
}
.header-p {
  color: #9699a6;
  font-size: 16px;
}

//--pagination--//
.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1;
  text-decoration: none;
  color: #FFB03B;
  background-color: #fff;
  margin-left: -1px;
  border: none;
}
.pagination > .active > a, .pagination > .active > a:hover,
.pagination > .active > a:focus, .pagination > .active > span,
.pagination > .active > span:hover, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #FFB03B;
  border-color: #FFB03B;
  border-radius: 3px;
  cursor: default;
}
//------------search show----------//
.path{
  margin: 10px auto;
}

.dish-image{
  border-radius: 35px;
  width: 100%;
  height: auto;
}
.dish-name{
  font-family: "Satisfy", sans-serif;
  color: #FFB03B;
  font-size: 46px;
  font-weight: 300;
  margin: 15px auto;
}
.create-info{
  font-family: "Satisfy", sans-serif;
  font-size: 14px;
  color: #808080;
  line-height: 1.5;
}
.dish-description p{
  font-size: 15px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.dishes-show{
  height: 500px;
}

//-----------search edit/new----------//
.image-preview{
  width: 100%;
  height: auto;
  border-radius: 20px;
}
form{
  font-family: "Open Sans", sans-serif;
}

//------------reservation----------//
//------------show-----------------//
//-----datetime----//
.bootstrap-datetimepicker-widget table td.active {
  background-color: #337ab7!important;
}

.row{
  margin: 0;
}
.element-reservation{
  margin-top: 15px;
}
.show-reservation{
  label{
    width: 200px;
    display: inline-block;
    font-weight: normal;
    margin: 5px;
  }
  h3{
    font-weight: bold;
  }
  .list-reserved-dish{
    margin-left: 50px;
    .lhead{
      font-weight: bold;
    }
    .lquantity{
      text-align: center;
      width: 100px;
    }
  }
}

.reservations{
  a{
    color: #337ab7;
    font-family: arial, sans-serif;
    margin-left: 15px;
  }
}

//-------------Amin--------------//
//-------Index---------//
h1.page-header {
  margin-top: -5px;
}

.sidebar {
  padding-left: 0;
}

.main-container {
  background: #FFF;
  padding-top: 15px;
  margin-top: -20px;
}

.footer {
  width: 100%;
}

:focus {
  outline: none;
}

.side-menu {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
  border: none;
}
.side-menu .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
  background-color: transparent;
  margin-right: -1px;
  border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
  padding: 15px;
}
.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px;
}
.side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
.side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
  float: right;
}
.side-menu #dropdown > a {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body {
  padding: 0;
  background-color: #f3f3f3;
}
.side-menu #dropdown .panel-body .navbar-nav {
  width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
  border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
  margin-left: -20px;
  padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
  padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
  min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
  display: block;
}
.side-menu #search {
  position: relative;
  z-index: 1000;
}
.side-menu #search .panel-body {
  padding: 0;
}
.side-menu #search .panel-body .navbar-form {
  padding: 0;
  padding-right: 50px;
  width: 100%;
  margin: 0;
  position: relative;
  border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
  width: 100%;
  position: relative;
}
.side-menu #search .panel-body .navbar-form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  background-color: #f3f3f3;
  padding: 15px 18px;
}
/* Main body section */
.side-body {
  margin-left: 310px;
}
/* small screen */
@media (max-width: 768px) {
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
  }

  .side-menu .navbar {
    z-index: 999;
    position: relative;
    height: 0;
    min-height: 0;
  }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: inline-block;
  }
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  .side-menu-container > .navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: fixed;
    left: -300px;
    width: 300px;
    top: 43px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    overflow: auto;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  /* Slide side body*/
  .side-body {
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .body-slide-in {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Hamburger */
  .navbar-toggle-sidebar {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
    background-color: #f3f3f3;
  }
  /* Search */
  #search .panel-body .navbar-form {
    border-bottom: 0;
  }
  #search .panel-body .navbar-form .form-group {
    margin: 0;
  }
  .side-menu .navbar-header {
    /* this is probably redundant */
    position: fixed;
    z-index: 3;
    background-color: #f8f8f8;
  }
  /* Dropdown tweek */
  #dropdown .panel-body .navbar-nav {
    margin: 0;
  }
}
//--------------user---------------//
//--------------show---------------//
.user-info{
  display: flex;
  .info{
    margin-left: 30px;
    position: center;
  }
  .user-name{
    font-weight: bold;
    font-size: large;
  }
  a{
    color: #337ab7;
    font-family: arial, sans-serif;
    margin-right: 15px;
  }
  label{
    font-weight: normal;
    margin: 2px;
  }
  .ilabel{
    width: 200px;
  }
  .avatar{
    margin-top: 10px;
  }
}
