@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "lightbox";
@import "animate";
@import "slick";
@import "slick-theme";
@import "select2";
@import "select2-bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  //-moz-box-sizing:    border-box;
  //-webkit-box-sizing: border-box;
  //box-sizing:         border-box;
}
/* forms */

text, textarea, select {
  border: solid 1px #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

label{
  margin-top: 15px;
}

.checkbox-status input{
  margin: 15px auto;
}
.checkbox-status label {
  display: inline-block;
  margin-top: 0; /* I added this after I posted my reply */
  vertical-align: middle; /* Fixes any weird issues in Firefox and IE */
}

textarea{
  height: 200px !important;
}

.select-image{
  margin-bottom: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

//.checkbox {
//  margin-top: -10px;
//  margin-bottom: 10px;
//  span {
//    margin-left: 20px;
//    font-weight: normal;
//  }
//}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

//---------search----------//

.card{
  width: 100%;
  max-width: 250px;
  height: 350px;
  margin: 10px auto;
  border: solid 1px #958e88;
  padding: 0;
  .card-text{
    margin: 10px;
  }
  .card-title{
    margin: 10px;
  }
  .card-img-top{
    height: 200px;
  }
}

.dish-info{
  .rate{
    li{
      display: inline;
    }
  }
  .dish-price{
    color: red;
    font-size: large;
  }
  .btn-default{
    border: solid 1px #958e88;
  }
  .dish-image{
    border-radius: 5%;
  }
}

//--------------by nvt----------------------------//
//--------------search index---------------//
//--------------dishes-------------------//
//--menu--//
.menu-restaurant .menu-price {
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 0;
}

.menu-restaurant .menu-line {
  position: absolute;
  bottom: 6px;
  border-bottom: 1px dotted rgba(0,0,0,.3);
  margin-left: .6rem;
  margin-right: .6rem;
}

.menu-restaurant{
  width: 50%;
  float: left;
  padding: 15px;
  position: relative;
}

.menu-restaurant span.clearfix {
  position: relative;
  display: block;
}

.menu-restaurant .menu-title {
  float: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFB03B;
}

.menu-restaurant .menu-subtitle {
  display: block;
  float: left;
  color: #B1B1B1;
  font-size: 1.2rem;
}
.dishes-show{
  margin-bottom: 15px;
}

//--pagination--//
#menu-flters ul li button.active, #menu-flters ul li button:hover {
  background: #FFB03B;
  color: #fff;
  border: 1px solid #FFB03B;
}
#menu-flters ul li {
  display: inline-block;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
#menu-flters ul li button {
  padding: 10px 20px;
  font-size: 14px;
  color: #565656;
  border-radius: 0px;
  border: 1px solid #BBBBBB;
  text-decoration: none;
  cursor: pointer;
}
.header-h {
  color: #FFB03B;
  font-size: 46px;
  font-family: "Satisfy", sans-serif;
  font-weight: 300;
}
.header-p {
  color: #9699a6;
  font-size: 16px;
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1;
  text-decoration: none;
  color: #FFB03B;
  background-color: #fff;
  margin-left: -1px;
  border: none;
}
.pagination > .active > a, .pagination > .active > a:hover,
.pagination > .active > a:focus, .pagination > .active > span,
.pagination > .active > span:hover, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #FFB03B;
  border-color: #FFB03B;
  border-radius: 3px;
  cursor: default;
}
//------------search show----------//
.path{
  margin: 10px auto;
}

.dish-image{
  border-radius: 35px;
  width: 100%;
  height: auto;
}
.dish-name{
  font-family: "Satisfy", sans-serif;
  color: #FFB03B;
  font-size: 46px;
  font-weight: 300;
  margin: 15px auto;
}
.create-info{
  font-family: "Satisfy", sans-serif;
  font-size: 14px;
  color: #808080;
  line-height: 1.5;
}
.dish-description p{
  font-size: 15px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.dishes-show{
  height: 500px;
}

//-----------search edit/new----------//
.image-preview{
  width: 100%;
  height: auto;
  border-radius: 20px;
}
form{
  font-family: "Open Sans", sans-serif;
}
