<% provide :title, t(".change_profile_id", id: @user.id) %>
<% provide :button_text, t("users.edit.save_change") %>

<section class="section-contact bg1-pattern p-t-90 p-b-113">
  <div class="container">
    <div class="t-center">
      <span class="tit2 t-center">
        <%= t "shared.pato_restaurant" %>
      </span>

      <h3 class="tit3 t-center m-b-35 m-t-2">
        <%= t "users.edit.change_profile" %>
      </h3>
    </div>
    <%= render "users/form", action: "update" %>
  </div>
</section>
